{% extends 'photos/base.html' %}
{% load crispy_forms_tags %}
{% crispy form %}


{% load static %}
{% block title %}
    <title>Add</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block content %}
    <div class="container" >
        <div class="row justify-content-center"">
            <div class="col-md-4">
                <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Quay lại</a>
                <form method="POST" action="" class="form-control" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center my-3">
                        <button type="submit" class="btn btn-primary">Thêm ảnh</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}