{% extends 'photos/base.html' %}

{% load static %}
{% block title %}
    <title>Gallery</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                      Phân loại
                    </div>
                    <ul class="list-group list-group-flush">
                        <a class="list-group-item" href="{% url 'gallery' %}">Tất cả</a>
                        {% for category in categories %}
                            <a class="list-group-item" href="{% url 'gallery' %}?category={{ category.name }}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                        <a href="{% url 'add' %}" class="btn btn-dark">Thêm ảnh</a>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for photo in photos %}
                        <div class="col-md-4">
                            <div class="card my-2">
                                <img src="{{ photo.image.url }}" class="image-thumbail" alt="...">
                                <div class="card-body">
                                <small class="card-text">Phân loại: {{ photo.category.name }}</small>
                                </div>
                                <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">Chi tiết</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}