{% extends 'photos/base.html' %}

{% load static %}

{% block title %}
    <title>Photo</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/photo.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Back</a>
                <div class="h-90vh">
                    <img class="photo" src="{{ photo.image.url }}" alt="" srcset="">
                    <p>{{ photo.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
